body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

html {
    font-size: 62.5%;
}

h1 {
    color: #333;
}

#product-info {
    border: 1px solidrgba(38, 36, 37, 0.31);
    font-size: 2rem;
    padding: 2rem;
    border-radius: 4rem;
}

#product-info p {
    margin: 0;
    margin-bottom: 10px;
}

#product-info img {
    height: 33rem;
    width: 42.5rem; 
}

.container {
    width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 2rem;
}

.logo{
    z-index: 0;
    width: 40rem;
    height: 30rem; 
}

.container-choose-header {
    justify-content: center;
}

.container-choose-p {
    padding: 1rem;
    font-size: 3rem;
    font-weight: 600;
}

.container-choose-choose {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3.5rem;
}

.container-guarantee {
    display: flex;
    justify-content: center;
}

.container-guarantee-header {
    padding: 2rem;
    font-size: 1.5rem;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="radio"] {
    display: none;
}

label {
    color: rgba(38, 36, 37, 0.55);
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 0.5rem 0.6rem 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    border: 2px solid rgba(38, 36, 37, 0.31);
    cursor: pointer;
    position: relative;
}

label.input{
    width: 5rem;
}

label::before {
    position: absolute;
    content: "";
    height: 0.6rem;
    width: 0.6rem;
    border: 0.2rem solid rgba(38, 36, 37, 0.31);
    border-radius: 50%;
    margin-left: -1.2rem;
}

input[type="radio"]:checked + label {
    background-color: #01cc65;
    color: white;
}

input[type="radio"]:checked + label::before {
    height: 0.6rem;
    width: 0.6rem;
    border: 2px solid white;
    background-color: rgba(38, 36, 37, 0.11);
}

input#xanh:checked + label {
    background-color: rgba(66, 181, 30, 0.71);
    border-color: rgba(66, 181, 30, 0.18);
}

input#lam:checked + label {
    background-color: rgba(16, 114, 200, 0.67);
    border-color: rgba(16, 114, 200, 0.22);
}

input#xam:checked + label {
    background-color: rgba(37, 35, 36, 0.49);
    border-color:rgba(38, 36, 37, 0.11) ;
}

input#den:checked + label {
    background-color: black;
}

.container-choose-fix{
    display: flex;
    justify-content: center;
}

.container-choose-offer{
    margin-top: 4rem;
    max-width: 55rem;
    margin-left: 10rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}

.container-choose-offer-header p{
    border: 1px solid rgba(249, 197, 159, 0.45);
    padding: 0.5rem 0rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(249, 197, 159, 0.45);
    color: rgba(233, 115, 27, 0.92);
    font-weight: 700;
}

.container-choose-offer-content ul li{
    line-height: 2.5rem;
    font-size: 1.2rem;
}

.container-choose-offer-content ul li b,
.container-choose-offer-content ul li strong{
    color: rgba(221, 111, 29, 0.9);
}

.container-choose-offer-content ul li a{
    text-decoration: none;
}

.container-choose-offer-content{
    border: 1px solid rgba(38, 36, 37, 0.21);
    border-radius: 1rem;
}

.container-choose-buy{
    display: flex;
    width: 98%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.container-choose-buy1{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    width: 18rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    margin-bottom: 10%;
    
}

.container-choose-buy-now,
.container-choose-buy-addtocart{
    border: 1px solid black;
    width: 18rem;
    font-size: 1.2rem;
    border-radius: 5px;
}

.container-choose-buy-now p,
.container-choose-buy-addtocart p{
    text-align: center;
}

.container-choose-buy-addtocart{
    margin-right: 1.5rem;
    background-color: rgba(245, 114, 39, 0.85);
    color: white;
    border: none;
}

.container-choose-buy-now,
.container-choose-buy-addtocart{
    cursor: pointer;
}

.container-choose-buy-now{
    background-color: #28a745;
    color: white;
    border: none;
}

.container-choose-buy-now:hover{
    background-color:  #218838;
}

.container-choose-buy-addtocart:hover{
    background-color: rgba(245, 161, 39, 1);
}

.container-2{
    max-width: 130rem;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.container-policy-text{
    font-size: 2.2rem;
    font-weight: 700;
    margin-left: 3rem;
    line-height: 4rem;
    padding: 0.3rem 0rem;
}

.container-2 ul li{
    list-style: none;
    line-height: 2.5rem;
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 2rem;
}

.check{
    font-size: 1.8rem;
    color: #01cc65;
}

.fix{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.container-3{
    max-width: 130rem;
    margin: 0 auto;
}

.container-policy-box,
.container-add{
    max-width: 50rem;
    background-color: rgba(245, 195, 39, 1);
    border-radius: 1rem;
}

.container-add p{
    font-size: 2.2rem;
    font-weight: 700;
    padding: 1rem 0rem;
    margin-left: 3rem;
}

.container-address ul li{
    list-style: none;
    font-size: 1.2rem;
    line-height: 4rem;
    font-weight: 500;
    text-align: justify;
}
.check-1{
    font-size: 1.5rem;
    color: rgba(245, 58, 39, 0.78);
}

.container-2 ul{
    max-width: 45rem;
}

.container-3 ul{
    max-width: 45rem;
}

.container-address ul li strong{
    color: rgba(245, 58, 39, 0.89);
    cursor: pointer;
}

.header{
    width: 100%;
    height: 20rem;
    margin-top: -13rem;
    background-color: rgba(228, 127, 74, 0.89);
    display: flex;
    justify-content: space-between;
}

*{
    box-sizing: border-box;
}

.header-text{
    margin-top: 12rem;
    display: flex;
    justify-content: space-around;
}

.header-text ul{
    display: flex;
    justify-content: space-around;
    
}

.header-text ul div{
    margin-right: 3rem;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}

.header-text ul div li{
    list-style: none;
    display: flex;
    align-items: center;
}

.header-text ul div li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.check-fix{
    font-size: 1.3rem;
    color: white;
    padding: 0.5rem;
    border: 1px solid white;
    margin-right: 0.4rem;
    border-radius: 2px;
    
}

.header-text ul div:hover{
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 0.6rem;
    cursor: pointer;
}

.grid{
    display: grid;
    row-gap: 9.4rem;
    column-gap: 6.4rem;
    align-items: center;
}

.grid--4-cols{
    grid-template-columns: repeat(4,1fr);
}

.footer-heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
    margin-left: 4rem;
}

.social-icon{
    color: #333;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
}

.social{
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
}

.social p{
    margin-left: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.footer-heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
}

.contact{
    font-size: 1.2rem;
}
.contact p{
    padding: 1rem 0 0 0;
    margin-top: 3.8rem;
    margin-bottom: 2rem;
}

.contact li{
    list-style: none;
    font-size: 1.2rem;
    line-height: 2rem;
}

.contact-num{
    text-decoration: none;
    color: #555;
}

.contact-mail{
    text-decoration: none;
    color: #555;
}

.contact-mail:hover,
.contact-mail:active{
    color: #333;
}

.contact-mail:visited,
.contact-mail:link{
    color: #333;
}

.footer-nav li a{
    list-style: none;
    text-decoration: none;
    font-size: 1.4rem;
    color: #767676;
}

.footer-link{
    list-style: none;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-app *:focus{
    outline: none;
    box-shadow: none;
}

.footer-app-mac{
    width: 90%;
    height: 2.5rem;
}

.footer-app-android{
    width: 90%;
    height: 2.5rem;
}

.qr-code{
   
    width: 8.8rem;
    height: 8.8rem;
}

.ttphone{
    font-size: 12px;
    font-weight: 500;
    margin-left: 20%;
}